main{
    box-sizing: border-box;
    margin: auto;
    width: 900px;
    align-items: center;
}

main h1, h2, li{
    font-family: 'Inknut Antiqua', serif;
}

main a{
    font-family: 'hepta slab', sans-serif;
    font-size: 16px;
}

main p {
    font-family:'hepta slab', sans-serif;
}

header {
    display: grid;
    grid-template-rows: 52px;
    grid-template-columns:450px;
    background-color: #D9D9D9;
}

header h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    line-height: 8px;
    margin-left: 30px;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav {
    grid-row: 1/2;
    grid-column: 2/3;
    line-height: 50px;
    text-align: right;
}

header a {
    margin-right: 30px;
    color: #000000;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    color: rgb(2, 190, 247);
}

section {
    border: 25px solid #00000060;
    padding: 20px;
    background-color: #D9D9D9;
}
section h2 {
    font-size: 25px;
    line-height: 0px;
    margin-left: 3px;
    font-size: 20px;
}

section p, li {
    font-size: 12px;
}

#biography {
    background-color: #FFFFFF;
    padding: 5px;
    display: grid;
    grid-template-rows: 295px;
    grid-template-columns: 146px;
}

#biography h2, p {
    grid-row: 1/2;
    grid-column: 1/4;
}

#biography img{
    width: 270px;
    border-radius: 45px;
    border: 2px solid #000000;
    grid-row: 1/2;
    grid-column: 4/6;
    margin: auto;
    margin-right: 15px;
}

#biography p {
    line-height: 35px;
    padding: 19px;
    margin-right: 15px;
    text-align: justify;
}

#bottom {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 295px;
    grid-template-columns: 146px;
}

#education{
    background: url(images/Tbirds.png);
    background-size: 305px;
    padding: 5px;
    grid-row: 1/2;
    grid-column: 1/3;
    width: 302px;
    height: 285px;
    display: grid;
    grid-template-rows: 146px;
    grid-template-columns: 312px;
}

#education ol {
    grid-row: 2/3;
    background-color: rgba(217, 217, 217, 0.9);
    list-style-type: none;
    line-height: 31px;
    padding: 5px;
    padding-top: 3px;
    padding-left: 15px;
    margin-left: 14px;
    margin-right: 25px;
    margin-top: 0px;
}

#education ol li {
    list-style-position: inside;
    font-size: 12px;
}

#hobbies {
    background-color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    grid-row: 1/3;
    grid-column: 3/6;
    width: 468px;
    margin-left: 20px;
    display: grid;
    grid-template-rows: 295px;
    grid-template-columns: 93px;
}

#hobbies h2, ul {
    grid-row: 1/2;
    grid-column: 1/3;
}

#hobbies ul {
    background-color: #D9D9D9;
    margin-top: 33px;
    margin-left: 14px;
    list-style-type: none;
    padding-left: 12px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 0px;
    line-height: 29px;
    margin-bottom: 0px;
    height: 240px;
}

#hobbies ul li {
    list-style-position: inside;
}

#hobbies img{
    width: 260px;
    grid-row: 1/2;
    grid-column: 3/6;
    margin: auto;
    margin-right: 9px;
}

footer {
    background-color: #D9D9D9;
    font-family: 'hepta slab', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: auto;
    height: 52px;
    line-height: 50px;
}