* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
}

section {
    max-width: 2366px;
}

header img{
    min-width: 2366px;
}

nav {
    background-color: #2085B7;
    display: flex;
    justify-content: center;
    height: 61px;
    align-items: center;
}

a {
    color: #d5e9f2;
    font-size: 32px;
    padding-left: 126px;
    padding-right: 126px;
    font-weight: 600;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    color: #042B43;
}

#content{
    margin: 30px 66px 30px 66px;
}

#content a{
    color: #2085B7;
}

#content a:hover{
    color: #042B43;
}

footer {
    background-color: #2085B7;
    display: flex;
    align-items: center;
    height: 61px;
}

footer p {
    color: #d5e9f2;
    font-size: 32px;
    padding-left: 20px;
}